@CHARSET "UTF-8";

@page {
	size: landscape;
}

body {
	background-color: #ccc;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.accordion-heading,div.accordion-body {
	background-color: #fff;
}

div.menu {
	position: relative;
	top: 5px;
	left: 5px;
	width: 250px;
}

div.canvas_container {
	position: absolute;
	overflow: auto;
	top: 45px;
	bottom: 0px;
	right: 0px;
	left: 265px;
}

div.canvas {
	height: 4000px;
	width: 1610px; /* Maximum print area */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 3px 3px 10px #888888;
	padding: 5px 5px 5px 5px;
	/* height: 700px; */
	background-color: #fff;
	background-image: linear-gradient(rgba(200, 200, 200, .5) 1px,
		transparent 1px), linear-gradient(90deg, rgba(200, 200, 200, .5) 1px,
		transparent 1px), linear-gradient(rgba(200, 200, 200, .3) 1px,
		transparent 1px), linear-gradient(90deg, rgba(200, 200, 200, .3) 1px,
		transparent 1px);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

a.diagram_icon {
	margin-bottom: 5px;
	width: 25px;
}

.btn-fixed {
	padding: 5px;
	text-align: left;
}

.select-fixed {
	vertical-align: top !important;
	height: 125px !important;
	margin-left: 121px;
}

.dropdown-menu-fixed {
	max-height: 105px;
	overflow: hidden;
	overflow-y: auto;
}

.btn_icon {
	width: 18px;
}

.connection-modal {
	width: 400px;
}

.thumbnail-connection-modal {
	padding: 0px;
	text-align: center;
}