<!DOCTYPE html>
<html lang="en">
  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <title>OMT-G Designer V2</title>
	
	    <!-- Bootstrap -->
	    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- 	    <link href="css/designer.css" rel="stylesheet"> -->
	    <link href="css/style.css" rel="stylesheet">
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
  </head>
  <body>

		<!-- Header -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">OMT-G Designer</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a id='btnImportXML' href="#"><i class="icon-upload"></i> Import XML</a></li> 
						<li><a id='btnExportXML' href="#"><i class="icon-download"></i> Export to XML</a></li> 
						<li><a id='btnExportSQL' href="#"><i class="icon-download-alt"></i> Export to SQL</a></li> 
						<li><a id='btnPrintProject' href="#"><i class="icon-print"></i> Print Project</a></li> 
					</ul>
				</div>
			</div>
		</nav>
		
		
		<!-- Menu -->
		<div id="section-sidebar" class="section-sidebar"></div>
		
		<!-- Canvas -->
		<div class="section-canvas">
			<div id="canvas" class="canvas"></div>
		</div>       	
		
    
    	<!-- Libraries -->
		<script src="js/libs/underscore/underscore-min.js"></script>
		<script src="js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="js/libs/backbone/backbone-min.js"></script>
		<script src="js/libs/bootstrap/bootstrap.min.js"></script>
		
		<!-- Models -->
		<script src="js/models/omtg/omtgAttribute.js"></script>
		<script src="js/models/omtg/omtgDiagram.js"></script>
		<script src="js/models/tool.js"></script>
		<script src="js/models/toolbox.js"></script>
		
		<!-- Collections -->
		<script src="js/collections/omtg/omtgAttributes.js"></script>
		<script src="js/collections/omtg/omtgDiagrams.js"></script>
		<script src="js/collections/tools.js"></script>
		<script src="js/collections/toolboxes.js"></script>
		
		<!-- Views -->
		<script src="js/views/omtg/omtgAttribute-view.js"></script>
		<script src="js/views/omtg/omtgDiagram-view.js"></script>
		<script src="js/views/tool-view.js"></script>
		<script src="js/views/tools-view.js"></script>
		<script src="js/views/toolbox-view.js"></script>
		<script src="js/views/toolboxes-view.js"></script>
		<script src="js/views/canvas-view.js"></script>
		<script src="js/views/app-view.js"></script>
		
		<!-- App -->
		<script src="js/app.js"></script>
		
		
		<!-- Templates -->
		<script type="text/template" id="omtg-georeferenced-template">
		<div id='<%= id %>' class='diagram-container'>
			<span class='badge close-diagram'>x</span>
			<table class='diagram'>
				<thead>
					<tr>
						<td class='diagram-icon'>
							<img class="img-icon" alt="icone" src="imgs/omtg/<%= type %>.png">
						</td>
						<td class='diagram-title'>
							<%= name %>				
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class='diagram-attribute' colspan='2'>
							<table>
								<tbody>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</script>
		
		<script type="text/template" id="omtg-conventional-template">
		<div id='<%= id %>' class='diagram-container'>
			<span class='badge close-diagram'>x</span>
			<table class='diagram'>
				<thead>
					<tr>
						<td class='diagram-title'>
							<%= name %>				
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class='diagram-attribute'>
							<table>
								<tbody>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</script>
		
		<script type="text/template" id="toolbox-template">
			<header class="widget-header">
				<h3><%= name %></h3>
			</header>
			<article class="widget-content">
			</article>
		</script>

		<script type="text/template" id="tool-template">
		<a name="<%= name %>" type="<%= type %>" class="btn btn-default tool" data-toggle="tooltip" data-placement="left" title="<%= tooltip %>"> 
			<img class="media-object tool-icon" alt="<%= tooltip %>" src="<%= icon %>">
		</a>
		</script>
    
    
  </body>
</html>