<script type="text/template" id="georeferenced-template">
<div id='a' class='diagram_container'>
	<span class='badge badge-inverse close_diagram'>x</span>
	<table class='diagram'>
		<thead>
			<tr>
				<td class='diagram_icon'><%= diagram-icon %></td>
				<td class='diagram_title'><%= diagram-title %></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class='diagram_attribute'>
					<table>
						<tbody>
							<%= diagram-attributes %>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</script>