<!DOCTYPE html>
<html lang="en">
  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <title>OMT-G Designer</title>
	
	    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/style-min.css" rel="stylesheet">	    
	    <link rel="icon" href="favicon.ico" />
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
  </head>
  <body>

		<!-- Header -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="http://www.labcsx.dcc.ufmg.br/" target='_blank'><img id="labcsx-logo" src="imgs/labcsx-logo.png" alt="Interdisciplinary Laboratory Logo"></a>
					<a class="navbar-brand" href="#">OMT-G Designer</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a id='btnImportXML' href="#"><span class="glyphicon glyphicon-floppy-open" ></span> Import XML</a></li> 
						<li><a id='btnExportXML' href="#"><span class="glyphicon glyphicon-floppy-save" ></span> Export to XML</a></li> 
						<li><a id='btnExportSQL' href="#"><span class="glyphicon glyphicon-export" ></span> Export to Oracle/SQL</a></li> 
						<li><a id='btnExportPostgis' href="#"><span class="glyphicon glyphicon-export" ></span> Export to PostGIS</a></li> 
<!-- 					<li><a id='btnPrint' href="#"><span class="glyphicon glyphicon-print" ></span> Print Project</a></li> -->
						<li><a href="http://homepages.dcc.ufmg.br/~clodoveu/DocuWiki/doku.php?id=omtg" target='_blank'><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Learn OMT-G</a></li>
						<li><a id='btnAbout' href="#"><span class="glyphicon glyphicon-info-sign" ></span> About</a></li>
						
					</ul>
				</div>
			</div>
		</nav>
		
		
		<!-- Menu -->
		<div id="section-sidebar" class="section-sidebar"></div>
		
		<!-- Canvas -->
		<div class="section-canvas">
			<div id="canvas" class="canvas"></div>
		</div>  			
		
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class=".container-fluid">
				<div id="navbar" class="navbar-collapse collapse">					
					<ul class="nav navbar-nav navbar-center">
						<li><a class="nav-foot" href="http://www.labcsx.dcc.ufmg.br/" target='_blank'>Lab CS+X</a></li> 
						<li><a class="nav-foot" href="#">|</a></li> 
						<li><a class="nav-foot" href="http://www.dcc.ufmg.br/" target='_blank'>Computer Science Department - DCC</a></li> 
						<li><a class="nav-foot" href="#">|</a></li> 
						<li><a class="nav-foot" href="http://www.ufmg.br/" target='_blank'>Universidade Federal de Minas Gerais - UFMG</a></li> 
					</ul>					
				</div>
			</div>
		</nav>
		
<!--     	Libraries --> 
		<script src="libs/underscore/underscore-min.js"></script>
		<script src="libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="libs/jquery/jquery-ui.min.js"></script>
		<script src="libs/backbone/backbone-min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/jsplumb/jquery.jsPlumb-1.7.2.js"></script>
		<script src="libs/fileSaver/FileSaver.min.js"></script>
		
 		<!-- Js scripts --> 
 		<script src="js/script-min.js"></script>
		
		<!-- Templates -->
		<script type="text/template" id="xmlimporter-template">
		<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h4 class="modal-title">XML Importer</h4>
			</div>

			<div class="modal-body modal-body-scroll">
		
				<h4>Select a valid XML project</h4>
				<form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
					<div class="form-inline">
						<div class="form-group">
							<input type="file" class="filestyle" data-input="false" id="js-upload-files">
						</div>
					</div>
				</form>

				<!-- Upload Finished -->
				<div class="js-upload-finished">
				</div>
		
			</div><!-- /.modal-body -->

			<div class="modal-footer">
				<button id="btnImport" type="button" class="btn btn-success btn-lg disabled" style="width: 100%;"><span class="glyphicon glyphicon-floppy-open"></span> Import</button>
			</div>

		</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		</script>
		
		<script type="text/template" id="omtg-connection-editor-spatial-relation-template">
			<!-- Connection Description -->
			<div class="form-group">
				<label for="inputConnectionSpatialRelation" class="col-sm-4 control-label">Spatial Relation:</label>
				<div class="col-sm-6">
					<div class="btn-group">
						<button id="inputConnectionSpatialRelation" type="button" class="btn btn-default"></button>
						<button id="inputConnectionSpatialRelationToggle" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul id="ulConnectionSpatialRelation" class="dropdown-menu" role="menu">
							<li><a href="#" data-spatialrelation="Contains">Contains</a></li>
							<li><a href="#" data-spatialrelation="Containsproperly">Containsproperly</a></li>	
							<li><a href="#" data-spatialrelation="Covers">Covers</a></li>	
							<li><a href="#" data-spatialrelation="Coveredby">Coveredby</a></li>	
							<li><a href="#" data-spatialrelation="Crosses">Crosses</a></li>	
							<li><a href="#" data-spatialrelation="Disjoint">Disjoint</a></li>	
							<li><a href="#" data-spatialrelation="Intersects">Intersects</a></li>
							<li><a href="#" data-spatialrelation="Near">Near</a></li>		
							<li><a href="#" data-spatialrelation="Overlaps">Overlaps</a></li>	
							<li><a href="#" data-spatialrelation="Touches">Touches</a></li>
							<li><a href="#" data-spatialrelation="Within">Within</a></li>																					
						</ul>
					</div>
				</div>
			</div>
			<!-- Connection Distance -->
			<div class="form-group">
				<label for="inputConnectionDistance" class="col-sm-4 control-label">Distance:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="inputConnectionDistance" placeholder="" maxlength="10" disabled>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="omtg-connection-editor-description-template">
			<!-- Connection Description -->
			<div class="form-group">
				<label for="inputConnectionDescription" class="col-sm-4 control-label">Description:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="inputConnectionDescription" placeholder="" maxlength="40">
				</div>
			</div>
		</script>
		
		<script type="text/template" id="omtg-connection-editor-cardinalities-template">
			<!-- Cardinalities -->
			<div class="form-group">
				<label for="CardinalityA" class="col-sm-4 control-label">Cardinality A:</label>
				<div class="col-sm-6">
					<div class="input-group">
						<input type="text" class="form-control inputcard" id="inputMinA" placeholder="min" maxlength="2">
						<input type="text" class="form-control inputcard" id="inputMaxA" placeholder="max" maxlength="2">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="CardinalityB" class="col-sm-4 control-label">Cardinality B:</label>
				<div class="col-sm-6">
					<div class="input-group">
						<input type="text" class="form-control inputcard" id="inputMinB" placeholder="min" maxlength="2">
						<input type="text" class="form-control inputcard" id="inputMaxB" placeholder="max" maxlength="2">
					</div>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="omtg-connection-editor-cartographic-template">
			<!-- Connection Description -->
			<div class="form-group">
				<label for="inlineRadioOptions" class="col-sm-4 control-label">Description:</label>
				<div class="col-sm-6">
					<label class="radio-inline">
  						<input type="radio" name="inlineRadioOptions" id="scaleRadio" value="scale"> scale
					</label>
					<label class="radio-inline">
  						<input type="radio" name="inlineRadioOptions" id="shapeRadio" value="shape"> shape
					</label>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="omtg-connection-editor-template">
		<div class="modal-dialog">
    		<div class="modal-content">

      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h4 class="modal-title">Connection Editor</h4>
      			</div>

      			<div class="modal-body modal-body-scroll">
        			<form id="connection-editor-form" class="form-horizontal">
						<fieldset>

						</fieldset>
					</form>
      			</div><!-- /.modal-body -->

      			<div class="modal-footer">
					<button id="btnUpdate" type="button" class="btn btn-warning btn-lg" data-dismiss="modal" style="width: 75%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
					<button id="btnDelete" type="button" class="btn btn-danger btn-lg" data-dismiss="modal" style="width: 23%;"><span class="glyphicon glyphicon-remove-sign"></span> Delete</button>
      			</div>

    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
		</script>
		
		<script type="text/template" id="about-template">
		<div class="modal-dialog">
    		<div class="modal-content">

      			<div class="modal-body ">
      				<p>Universidade Federal de Minas Gerais - UFMG</p>
      				<a href="https://github.com/lizardoluis/omtg-designer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="imgs/fork-github.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
      				<hr>
      			
					<h1 class="about-title">OMT-G Designer!</h1>
					<p class="about-text">
						OMT-G Designer is an online diagramming application
						for the design of geographic database systems and 
						applications based on OMT-G data model.
					</p>
      			</div><!-- /.modal-body -->

      			<div class="modal-footer">
					<button id="btnOk" type="button" class="btn btn-success btn-lg" data-dismiss="modal" aria-hidden="true" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> OK</button>
      			</div>

    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
		</script>

		<script type="text/template" id="omtg-diagram-editor-template">
		<div class="modal-dialog">
    		<div class="modal-content">

      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h4 class="modal-title">Diagram Editor</h4>
      			</div>

      			<div class="modal-body modal-body-scroll">
        			<form class="form-horizontal">
						<fieldset>

							<!-- Diagram type -->
							<div class="form-group">
								<label for="inputDiagramType" class="col-sm-4 control-label">Type:</label>
								<div class="col-sm-6">
									<div class="btn-group">
  										<button id="inputDiagramType" type="button" class="btn btn-default"><img class="drop-icon" alt="<%= app.diagramsTools.getTooltip(type) %>" src=" imgs/omtg/<%= type %>.png"> <%= app.diagramsTools.getTooltip(type) %></a></button>
 										<button id="inputDiagramTypeToggle" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
 				  							<span class="caret"></span>
    										<span class="sr-only">Toggle Dropdown</span>
  										</button>
  										<ul id="ulDiagramType" class="dropdown-menu" role="menu">
											<li><a href="#" data-type-name="polygon"><img class="drop-icon" alt="Polygon" src=" imgs/omtg/polygon.png"> Polygon</a></li>
											<li><a href="#" data-type-name="line"><img class="drop-icon" alt="Line" src=" imgs/omtg/line.png"> Line</a></li>
											<li><a href="#" data-type-name="point"><img class="drop-icon" alt="Point" src=" imgs/omtg/point.png"> Point</a></li>
											<li><a href="#" data-type-name="node"><img class="drop-icon" alt="Node" src=" imgs/omtg/node.png"> Node</a></li>
											<li><a href="#" data-type-name="isolines"><img class="drop-icon" alt="Isoline" src=" imgs/omtg/isolines.png"> Isoline</a></li>
											<li><a href="#" data-type-name="planar-subdivision"><img class="drop-icon" alt="Planar Subdivision" src=" imgs/omtg/planar-subdivision.png"> Planar Subdivision</a></li>            
											<li><a href="#" data-type-name="TIN"><img class="drop-icon" alt="Triangular Irregular Network" src=" imgs/omtg/TIN.png"> Triangular Irregular Network</a></li>
											<li><a href="#" data-type-name="tesselation"><img class="drop-icon" alt="Tesselation" src=" imgs/omtg/tesselation.png"> Tesselation</a></li>
											<li><a href="#" data-type-name="sample"><img class="drop-icon" alt="Sampling" src=" imgs/omtg/sample.png"> Sampling</a></li>
											<li><a href="#" data-type-name="un-line"><img class="drop-icon" alt="Unidirectional Line" src=" imgs/omtg/un-line.png"> Unidirectional Line</a></li>
											<li><a href="#" data-type-name="bi-line"><img class="drop-icon" alt="Bidirectional Line" src=" imgs/omtg/bi-line.png"> Bidirectional Line</a></li>
											<li><a href="#" data-type-name="conventional"><img class="drop-icon" alt="Conventional" src=" imgs/omtg/conventional.png"> Conventional</a></li>																						
  										</ul>
									</div>
								</div>
							</div>

							<!-- Diagram name -->
							<div id="formDiagramName" class="form-group">
								<label for="inputDiagramName" class="col-sm-4 control-label">Name:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="inputDiagramName" value="<%= name %>" maxlength="50">
								</div>
							</div>

							<!-- Separator -->
							<hr>

							<table id="attrTable" class="table table-hover table-condensed">
								<thead>
									<th class="col-md-0">Key</th>
									<th class="col-md-4">Name</th>
									<th class="col-md-2">Type</th>
									<th class="col-md-1">Length</th>
									<th class="col-md-0">Null</th>
									<th class="col-md-3">Default Value</th>									
									<th class="col-md-2"></th>
								</thead>
								<tbody>		
									<tr>
										<td colspan="6"><button id="btnAddRow" type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button></td>
									</tr>
								</tbody>	
							</table>
					
						</fieldset>
					</form>
      			</div><!-- /.modal-body -->

      			<div class="modal-footer">
        			<button id="btnUpdate" type="button" class="btn btn-warning btn-lg" data-dismiss="modal" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      			</div>

    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
		</script>
		
		<script type="text/template" id="omtg-attribute-row-editor-template">
		<tr>										
			<td><input class="toggleKey" type="checkbox" <% if( isKey ){ %> checked <% } %> ></td>
			<td class="name-editable" contenteditable="true"><%= name %></td>
			<td>
				<div class="dropdown dropup">
					<button class="btn btn-default btn-xs dropdown-toggle btnAttributeType" type="button" data-toggle="dropdown" aria-expanded="true"><%= type %> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu ulAttributeType" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">BOOLEAN </a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">DATE </a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">INTEGER </a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">REAL </a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">TEXT </a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">TIME </a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">VARCHAR </a></li>
					</ul>
				</div>
			</td>
			<td class="length-editable" <% if(type.toUpperCase()=='VARCHAR'){ %> contenteditable="true" <% } %> ><%= length %></td>		
			<td><input class="toggleNotNull" type="checkbox" <% if(isNotNull){ %> checked <% } %> ></td>		
			<td class="value-editable" contenteditable="true"><%= defaultValue %></td>
			<td>							
				<div class="btn-group btn-group-xs" role="group" aria-label="...">
					<button type="button" class="btn btn-link btnRowUp"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
					<button type="button" class="btn btn-link btnRowDown"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
					<button type="button" class="btn btn-link btnRowDelete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
				</div>
			</td>
		</tr>
		</script>


		<script type="text/template" id="omtg-georeferenced-template">
		<span class='badge badge-delete hidden'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
		<div class='d-header'>
			<div class='d-icon'>
				<img class="img-icon" alt="<%= name %>" src="imgs/omtg/<%= type %>.png">
			</div>
			<div class='d-title'>
				<%- name %>
			</div>
		</div>
		<div class='d-body'>
			<table>
				<tbody>
				</tbody>
			</table>
		</div>
		</script>

		<script type="text/template" id="omtg-conventional-template">
		<span class='badge badge-delete hidden'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
		<div class='d-header'>
			<div class='d-title'>
				<%- name %>
			</div>
		</div>
		<div class='d-body'>
			<table>
				<tbody>
				</tbody>
			</table>
		</div>
		</script>
		
		<script type="text/template" id="toolbox-template">
			<header class="widget-header">
				<h3><%= name %></h3>
			</header>
			<article class="widget-content">
			</article>
		</script>

		<script type="text/template" id="tool-template">
		<a name="<%= name %>" type="<%= type %>" class="btn btn-default tool" data-toggle="tooltip" data-placement="left" title="<%= tooltip %>"> 
			<img class="media-object tool-icon" alt="<%= tooltip %>" src="<%= icon %>">
		</a>
		</script>
    
    
  </body>
</html>