/*
 * Navbar
 */
.navbar {
	margin-bottom: 0px;
}

.navbar img#labcsx-logo {
    margin-top: -12px;
}


/*
 * Sidebar
 */
.section-sidebar {
	width: 250px;
	float: left;
	background: #f7f7f7;
	position: fixed;
	display: block;
	height: 100%;
	left: 0;
	top: 51px;
	overflow: auto;
	border-right: #DEDEF0 solid 1px;
}

.section-sidebar .widget {
	margin: 5px;
	background: #fff;
	border-radius: 3px;
	font-size: 11px;
	border: #dedede solid 1px;
}

.section-sidebar .widget .widget-header {
	padding: 10px 15px;
	background: #fafafa;
	border-radius: 4px 4px 0 0;
	margin-bottom: 5px;
}

.section-sidebar .widget .widget-header h3 {
	font: 300 18px/1 'Open Sans', Helvetica, sans-serif;
	margin: 0;
	color: #555;
}

.section-sidebar .widget .widget-content {
	padding: 10px;
}

.section-sidebar .widget .widget-content .tool {
	margin: 0px 2.5px 5px 2.5px;
}

.section-sidebar .widget .widget-content .tool-icon {
	width: 22px;
}

/*
 * Canvas
 */
.section-canvas {
	position: absolute;
	overflow: auto;
	top: 51px;
	bottom: 30px;
	right: 0px;
	left: 251px;
}

.section-canvas #canvas {
	height: 4000px;
	width: 2000px;
	position: relative;
	padding: 5px 5px 5px 5px;
}

.canvas-background {
	background-image: linear-gradient(rgba(200, 200, 200, .2) 1px,
		transparent 1px), linear-gradient(90deg, rgba(200, 200, 200, .2) 1px,
		transparent 1px);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/*
 * Footer
 */
.navbar-fixed-bottom{
	min-height: 30px !important;
	height: 30px !important;
}

.nav-foot {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar-center {
	float: none !important;
	display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*
 * Diagrams
 */
.diagram-container {
	display: inline-block;
	position: absolute !important;
	margin: 5px;
	padding: 0px;
	
	
	background-color: #fff;
	width: auto !important;
	height: auto !important;
}

.diagram-container-shadow {
	box-shadow: 3px 3px 10px #888888;
}

.diagram-container:hover {
	cursor: pointer;
}

.diagram-container:active {
	cursor: move;
}


.diagram-container .d-header {
	height: 38px;
	display: block;
}

.diagram-container .d-header .d-icon {
	width: 37px;
	height: 100%;
	float: left;
	display: inline-block;
	
	border: 1px solid black;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.diagram-container .d-header .d-title {
    height: 100%;
    min-width: 127px;
    border: 1px solid black;
    font-weight: bold;
    padding: 8px 5px 5px 5px; 
    white-space: nowrap;
    text-align: center;
}

.diagram-container .d-header .d-icon ~ .d-title {
    padding-left: 45px;
}

.diagram-container .d-body {
	min-height: 30px;
	padding: 8px 5px 5px 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: normal;
}

.selected {
	border: 2px solid black;
	margin: 3px;
}

.diagram-container .attribute-key {
	width: 13px;
	margin-right: 4px;
}

.diagram-container .badge-delete {
	position: absolute;
	top: -8px;
	right: -8px;
	background: #333;
}

.diagram-container .badge-delete:hover {
	background: #465163;
}

/*
 * OMT-G Diagram Modal
 */
.modal-dialog {
	width: 630px !important;
}
 
.modal-dialog .drop-icon {
	width: 18px;
}

.modal-dialog #inputDiagramType {
	width: 250px; 
	text-align: left;
}

.modal-dialog .modal-body-scroll {
	max-height: 400px;
	overflow-y: scroll;
}

.modal-dialog .dropdown-menu {
	max-height: 140px;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
}

.modal-dialog .btnAttributeType {
	width: 100%;
}

.modal-dialog .btnRowDelete {
	color: black;
}

/*
 * OMT-G Connection Modal
 */
 
 .modal-dialog .inputcard {
 	width: 50%;
 }
 
 .modal-dialog #inputConnectionSpatialRelation {
	width: 235px;
	text-align: left;
}


/*
 * Connections
 */

.cardinality-label,
.description-label,
.arc-network-label,
.cartographic-label {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 22px;
}

.description-label {
	padding-left: 30px;
}

.cardinality-label {
	padding-left: 65px;
	padding-right: 20px;
}

.progress {
	margin-top: 20px;
}

.square-overlay,
.triangle-endpoint {
	z-index: 100;
}

.about-title {
	font-size: 44px;
	font-weight: bold;
	line-height: 1;
	margin: 40px;
	text-align: center;
}

.about-text {
	margin: 20px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
	text-align: center;
}


/* @page{
	margin-left: 6cm;
	margin-right: 6cm;
	margin-top: 0cm;
	margin-bottom: 0cm;
} */